@font-face {
    font-family: 'aaarghnormal';
    src: url('./aaargh_normal_macroman/Aaargh-webfont.eot');
    src: url('./aaargh_normal_macroman/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('./aaargh_normal_macroman/Aaargh-webfont.woff2') format('woff2'),
         url('./aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
         url('./aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
         url('./aaargh_normal_macroman/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: aaarghnormal;
    font-size: 2em;
}


.main-container,
.contain-page,
.skill_star,
.icones {
    display:flex;
}


.contain-page {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    flex-direction: column;
    
}

.contain-left {
    margin-right: 80px;
    max-width: 500px;
    padding-left: 10px;
    background-image: linear-gradient(to left, #0097A7 , transparent);
    color: #263238;
}

.contain-right {
    margin-left:80px;
    padding-right: 10px;
}

.skill_star {
    flex-direction: row;
    justify-content: space-around;
}

.container-bottom {
    text-align: center;
    font-size: 0.5em;
   
}

a {text-decoration: none;
    color: #263238;
}

.name span {
    color: #0097A7;
}
.job span {
    text-decoration: underline #0097A7;
}

.photo {
    padding-top: 30px;
    text-align: center;
    padding: auto;
}

.titleleft {
    background-image: linear-gradient(to left, #263238, transparent);
    text-align: center;
    color: #359aa3;
}

.icones {
    justify-content: space-around;
    padding: 0px 10px 30px 10px;
}

.about article {
    padding: 0px 10px 0px 20px;
}

.fas.fa-pencil-alt, .fas.fa-graduation-cap, .fas.fa-user-tie {
    color: #0097A7;
}

.exp2 {
    color:#263238;
}

.exp1 {
    font-weight: bold;

}

.exp {
    border-bottom :2px solid rgb(0,151,167);
}